<%- include('layout/header', { title: '波博客 - boblog.com', isArticleList: true, isArticleDetail: false, navActiveTag: 'article', needHighlighting: true}) %>

<section class="article-list-sidebar">
    <article class="article-list" id="article">
        <% if (category && category.length > 0) { %>
            <nav class="article-list-nav">
                <ul class="article-list-nav-box">
                    <li class="article-list-nav-item">
                        <a href="/">全部</a>
                    </li>
                    <% category.forEach(cate => { %>
                        <li class="article-list-nav-item">
                            <a href="/?category_id=<%= cate.id %>"><%= cate.name %></a>
                        </li>
                    <% }) %>
                </ul>
            </nav>
        <% } %>
        <% if (article && article.data && article.data.length > 0) { %>
            <ul class="article-list-box">
                <% article.data.forEach(item => { %>
                    <li style="list-style: none">
                        <a class="article-list-item" href="/article/detail/<%= item.id %>">
                            <div class="article-list-content">
                                <h1 class="article-list-title">
                                    <%= item.title %>
                                </h1>
                                <div class="article-list-description">
                                    <%= item.description %>
                                </div>
                                <div class="article-list-info">
                                    <% if (item.category) { %>
                                        <p class="article-list-category">
                                            <%= item.category.name %>
                                        </p>
                                    <% } %>
                                    <p class="article-list-author">作者：<%= item.author %></p>
                                    <p class="article-list-browse">浏览次数：<%= item.browse %></p>
                                </div>
                            </div>
                            <div class="article-list-img">
                                <div class="article-list-img-inner">
                                    <img src="<%= item.cover %>" alt="img">
                                </div>
                            </div>
                        </a>
                    </li>
                <% }) %>
            </ul>
            <ul class="page">
                页码
            </ul>
        <% } else { %>
            <ul class="article-list-empty">暂无文章</ul>
        <% } %>
    </article>
    <%- include('layout/sidebar') %>
</section>


<%- include('layout/footer') %>
