<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        <%= title %> <%= userName %>
    </title>
</head>
<body>
<h1>普通模版</h1>
<h2 onclick=""><%= title %> <%= userName %></h2>
<h1>ejs循环输出模版</h1>
<ul>
    <% for(var i = 0;i < list.length;i++){ %>
        <li><%= list[i] %></li>
    <% } %>
</ul>
<h2>原文输出标签</h2>
<%- content %>
<h2>条件判断</h2>
<% if(num > 20){ %>
    大于20
<% }else{ %>
    小于20
<% } %>
</body>
</html>
